.margin-top-auto{
    margin-top: 15px;
}
.list-detail-pane{
    margin-top: 15px;
    padding-top: 15px;
    border: 1px solid #dfd7ca;
}

.search-form{
    display:table; 
    width:130%
}
.search-group{
    display:table-cell !important;
    vertical-align:middle;
}
.search-div{
    margin-left: 15px;
}
.search-left-btn{
    height: 20px;
    background: transparent;
    border-right: 0px;
    border-radius: 25px;
}
.search-right-btn{
    height: 20px;
    background: transparent;
    border-left: 0px;
    border-radius: 25px;
}
.search-box{
    border-left: 0px;
    border-right: 0px;
}
.user-profile{
    display:table-cell; 
    vertical-align:middle; 
    text-align:right;
}
.user-profile.name{
    width: 100px
}
.user-profile.image{
    width: 70px
}
.user-profile.carret{
    width: 25px
}
.user-profile-button{
    background: transparent;
    border: none;
}

.user-list-cell{
    border-width: 1px 2px 1px 2px;
    border-color: #dfd7ca;
    border-style: solid;
    line-height: 90px;
    padding: 5px;
    font-size: 20px;
}
.user-list-cell:hover{
    background: #f9f7f9;
}
.user-list-cell.active{
    background: #f8f5f0;
}
.float-right{
    float: right;
}

.no-user-msg{
    color: #dfd7ca;
    font-size: 50px;
    line-height: 90px;
    margin-top: 25%;
    margin-left: 10%;
}
.user-image{
    height: 100px;
    width: 100px
}
.msg-btn{
    width: 155px;
    background: #f8f5f0; 
    color: black; 
    border: 1px solid #dfd7ca
}
.rating{
    margin: 2px;
}
.rating-group{
    margin-top: 15px;
    color: #dfd7ca;
}
.n-rating-group{
    margin-left: -3px;
}

.description{
    margin: 55px 15px 15px 15px;
    min-height: 150px;
}
.likes-table{
    margin: 15px;
    width: 95%;
}