<!--<h3>{{user.name}}</h3>-->

<div class="clearfix">
	<div class="col-sm-3">
		<img ng-src="{{user.img}}" class="img-rounded user-image" />
	</div>
	<div class="col-sm-6" >
		<button ng-if="!showMessageBox" class="btn btn-default text-uppercase msg-btn" ng-click="sendMessage()"> Send Message!</button>
		<div class="form-group" ng-if="showMessageBox">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="message" placeholder="Message">
				<div class="input-group-addon" title="Send Message" ng-click="sendMessage()"><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
			</div>
		</div>
		<div class="rating-group">
			<i class="fa fa-heart fa-2x rating" aria-hidden="true" ng-repeat="rate in getRating(user.rating) track by $index"></i>
			<span class="n-rating-group">
			    <i class="fa fa-heart-o fa-2x rating" aria-hidden="true" ng-repeat="rate in getRating(5 - user.rating) track by $index"></i>
            </span>
		</div>
	</div>
</div>
<div class="description clearfix">
	<blockquote>
		<p>{{user.Description}}</p>
	</blockquote>
</div>
<div>
	<table class="table table-striped likes-table">
		<thead>
			<th>Likes</th>
			<th>Dislikes</th>
		</thead>
		<tbody>
			<tr ng-repeat="foo in getLikeArray(user.Likes, user.Dislikes) track by $index">
				<td>{{user.Likes[$index]}}</td>
				<td>{{user.Dislikes[$index]}}</td>
			</tr>
		</tbody>
	</table>
</div>